mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align:center;
    max-height: 600px;
    margin-top: 200px;
    background-color:rgb(240, 235, 226);
}
.header{
    text-align: center;
    color: blue;
    text-indent: 20;

}
.full-width{
    width: 60%;

}

.email-input{
    padding-top: 10px;
}
.width{
    width: 60%;
}